<br />
<div class="panel panel-default col-md-12">
    <div class="row">
        <h1 class="text-center">Edit Recipe</h1>    
    </div>
    <%= render "form" %>
       
</div>

<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe,recipes_path,
                        :class => "btn btn-primary pull-left", :style => "color:#FFF;"%>