<br />
<div class="panel panel-default panel-wall">

    <h1 class="text-center">New Recipe</h1>    
    <%= render "form" %>
</div>

<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe,recipes_path,
                        :class => "btn btn-primary pull-left", :style => "color:#FFF;"%>